<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>JNRS智能产线可视化系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    @Html.AppendCssFile("/Areas/LR_ReportModule/Views/ReportTemplate/layui/css/layui.css")
    @Html.AppendCssFile("/Areas/LR_ReportModule/Views/ReportTemplate/bootstrap/dist/css/bootstrap.css")
    @Html.AppendCssFile("/Areas/LR_ReportModule/Views/ReportTemplate/Content1/font-awesome.min.css")
    <style>
        h2 {
            margin-top:0px;
        }

    </style>
</head>
<body style="background-color:rgba(22, 25, 48, 1);width:100%;overflow:auto">
    <div>
        <div class="col-lg-12" style="color:rgb(0, 176, 255);width:100%;padding-left:0px;padding-bottom:15px;padding-right:0px;">
            <div class="text-center" style="-webkit-border-radius:20px;box-shadow:0 0 16px 4px #20a0ff inset;">
                <h2 class="text-left">&nbsp;&nbsp;<i class="fa fa-clock-o" style="font-size:1.5em"></i>&nbsp;生产实时状况</h2>
                <table class="table" style="width:100%;text-align:center;font-size:20px;">
                    <tr>
                        <th class="text-center">设备名称</th>
                        <th class="text-center">作业内容</th>
                        <th class="text-center">计划产量</th>
                        <th class="text-center">实际产量</th>
                        <th class="text-center">计划完成率</th>
                        <th class="text-center">设备开动率</th>
                        <th class="text-center">合格率</th>
                        <th class="text-center">OEE</th>
                    </tr>
                    <tr>
                        <td><div style="background-color:yellow;color:#000;">VTC-160AN/2PC-1</div></td>
                        <td>
                            立柱连接板
                        </td>
                        <td>50</td>
                        <td>25</td>
                        <td>
                            <div class="layui-progress layui-progress-big" lay-showpercent="true" lay-filter="demo">
                                <div class="layui-progress-bar layui-bg-blue" style="width:50%">50%</div>
                            </div>
                        </td>
                        <td><div id="indicatorContainer"></div></td>
                        <td>99%</td>
                        <td><div id="indicatorContainer7"></div></td>
                    </tr>
                    <tr>
                        <td><div style="background-color:lawngreen;color:#000;">VTC-160AN-1</div></td>
                        <td>
                            中托板
                        </td>
                        <td>60</td>
                        <td>20</td>
                        <td>
                            <div class="layui-progress layui-progress-big" lay-showpercent="true" lay-filter="demo">
                                <div class="layui-progress-bar layui-bg-green" style="width:33%">33%</div>
                            </div>
                        </td>
                        <td><div id="indicatorContainer1"></div></td>
                        <td>100%</td>
                        <td><div id="indicatorContainer8"></div></td>
                    </tr>
                    <tr>
                        <td><div style="background-color:yellow;color:#000;">VTC-160AN-2</div></td>
                        <td>
                            轴承座
                        </td>
                        <td>70</td>
                        <td>50</td>
                        <td>
                            <div class="layui-progress layui-progress-big" lay-showpercent="true" lay-filter="demo">
                                <div class="layui-progress-bar layui-bg-blue" style="width:71%">71%</div>
                            </div>
                        </td>
                        <td><div id="indicatorContainer2"></div></td>
                        <td>99%</td>
                        <td><div id="indicatorContainer9"></div></td>
                    </tr>
                    <tr>
                        <td><div style="background-color:lawngreen;color:#000;">VTC-20C</div></td>
                        <td>
                            限位块
                        </td>
                        <td>80</td>
                        <td>40</td>
                        <td>
                            <div class="layui-progress layui-progress-big" lay-showpercent="true" lay-filter="demo">
                                <div class="layui-progress-bar layui-bg-green" style="width:50%">50%</div>
                            </div>
                        </td>
                        <td><div id="indicatorContainer3"></div></td>
                        <td>99%</td>
                        <td><div id="indicatorContainer10"></div></td>
                    </tr>
                    <tr>
                        <td><div style="background-color:yellow;color:#000;">VTC-200BN-1</div></td>
                        <td>
                            连接法兰
                        </td>
                        <td>100</td>
                        <td>100</td>
                        <td>
                            <div class="layui-progress layui-progress-big" lay-showpercent="true" lay-filter="demo">
                                <div class="layui-progress-bar layui-bg-blue" style="width:100%">100%</div>
                            </div>
                        </td>
                        <td><div id="indicatorContainer4"></div></td>
                        <td>98%</td>
                        <td><div id="indicatorContainer11"></div></td>
                    </tr>
                    <tr>
                        <td><div style="background-color:lawngreen;color:#000;">VTC-16A</div></td>
                        <td>
                            齿条座
                        </td>
                        <td>100</td>
                        <td>80</td>
                        <td>
                            <div class="layui-progress layui-progress-big" lay-showpercent="true" lay-filter="demo">
                                <div class="layui-progress-bar layui-bg-green" style="width:80%">80%</div>
                            </div>
                        </td>
                        <td><div id="indicatorContainer5"></div></td>
                        <td>100%</td>
                        <td><div id="indicatorContainer12"></div></td>
                    </tr>
                    <tr>
                        <td><div style="background-color:yellow;color:#000;">VTC-160AN/2PC-2</div></td>
                        <td>
                            横梁连接板
                        </td>
                        <td>100</td>
                        <td>65</td>
                        <td>
                            <div class="layui-progress layui-progress-big" lay-showpercent="true" lay-filter="demo">
                                <div class="layui-progress-bar layui-bg-blue" style="width:65%">65%</div>
                            </div>
                        </td>
                        <td><div id="indicatorContainer6"></div></td>
                        <td>99%</td>
                        <td><div id="indicatorContainer13"></div></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-12" style="color:rgb(0, 176, 255);width:50%;">
            <div class="text-center" style="-webkit-border-radius:20px;box-shadow:0 0 16px 4px #20a0ff inset">
                <h2 class="text-left">&nbsp;&nbsp;<i class="fa fa-anchor" style="font-size:1.5em"></i>&nbsp;刀具寿命预警信息</h2>
                <table class="table" border="0" style="width:100%;text-align:center;">
                    <tr>
                        <th class="text-center">设备名称</th>
                        <th class="text-center">刀具编号</th>
                        <th class="text-center">刀具名称</th>
                        <th class="text-center">总寿命</th>
                        <th class="text-center">剩余寿命</th>
                        <th class="text-center">预警寿命</th>
                    </tr>
                    <tr>
                        <td><div style="background-color:orangered;color:#000;">VTC-160AN-1</div></td>
                        <td>1001</td>
                        <td>F-MILL</td>
                        <td>100分钟</td>
                        <td>10分钟</td>
                        <td>90分钟</td>
                    </tr>
                    <tr>
                        <td><div style="background-color:orangered;color:#000;">VTC-160AN-1</div></td>
                        <td>1002</td>
                        <td>DRILL</td>
                        <td>60分钟</td>
                        <td>10分钟</td>
                        <td>50分钟</td>
                    </tr>
                    <tr>
                        <td><div style="background-color:orangered;color:#000;">VTC-200BN-1</div></td>
                        <td>1003</td>
                        <td>E-MILL</td>
                        <td>60分钟</td>
                        <td>10分钟</td>
                        <td>40分钟</td>
                    </tr>
                    <tr>
                        <td><div style="background-color:orangered;color:#000;">VTC-200BN-1</div></td>
                        <td>1004</td>
                        <td>CHF-C</td>
                        <td>120分钟</td>
                        <td>17分钟</td>
                        <td>120分钟</td>
                    </tr>
                    <tr>
                        <td><div style="background-color:orangered;color:#000;">VTC-20C</div></td>
                        <td>1005</td>
                        <td>TAP</td>
                        <td>60分钟</td>
                        <td>15分钟</td>
                        <td>50分钟</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-12" style="color:rgb(0, 176, 255);width:50%;padding-right:0px;">
            <div class="text-center" style="-webkit-border-radius:20px;box-shadow:0 0 16px 4px #20a0ff inset">
                <h2 class="text-left">&nbsp;&nbsp;<i class="fa fa-wrench" style="font-size:1.5em"></i>&nbsp;维护保养提示信息</h2>
                <table class="table" border="0" style="width:100%;text-align:center;">
                    <tr>
                        <th class="text-left">设备名称</th>
                        <th class="text-center">保养类型</th>
                        <th class="text-center">保养内容</th>
			<th class="text-center">保养周期</th>
                        <th class="text-center">执行人</th>
                        <th class="text-center">下次保养日期</th>
                    </tr>
                    <tr>
                        <td class="text-left" style="width:20%;"><img style="width:20%;height:15%;" src="../../Areas/LR_ReportModule/Images/Content/images/alarm.png">VTC-20C</td>
                        <td>液压站</td>
                        <td>压力检查</td>
			<td>一月一次</td>
                        <td>李硕</td>
                        <td>2019/5/5</td>
                    </tr>
                    <tr>
                        <td class="text-left" style="width:20%;"><img style="width:20%;height:15%;" src="../../Areas/LR_ReportModule/Images/Content/images/alarm.png">VTC-160AN-1</td>
                        <td>主轴</td>
                        <td>散热器清洁</td>
			<td>一年一次</td>
                        <td>张扬</td>
                        <td>2019/5/18</td>
                    </tr>
                    <tr>
                        <td class="text-left" style="width:20%;"><img style="width:20%;height:15%;" src="../../Areas/LR_ReportModule/Images/Content/images/alarm.png">VTC-200BN-1</td>
                        <td>润滑</td>
                        <td>油品更换</td>
			<td>一年一次</td>
                        <td>林丹</td>
                        <td>2019/5/15</td>
                    </tr>
                    <tr>
                        <td class="text-left" style="width:20%;"><img style="width:20%;height:15%;" src="../../Areas/LR_ReportModule/Images/Content/images/alarm.png">VTC-160AN-2</td>
                        <td>排屑器</td>
                        <td>链板维护</td>
			<td>一月一次</td>
                        <td>孙子文</td>
                        <td>2019/5/9</td>
                    </tr>
                    <tr>
                        <td class="text-left" style="width:20%;"><img style="width:20%;height:15%;" src="../../Areas/LR_ReportModule/Images/Content/images/alarm.png">VTC-16A</td>
                        <td>清洁</td>
                        <td>每日清洁</td>
			<td>一周一次</td>
                        <td>黄晓燕</td>
                        <td>周五</td>
                    </tr>
                </table>
            </div>
        </div>
        @*<div class="col-lg-12" style="color:rgb(0, 176, 255);width:20%;-webkit-border-radius:20px;box-shadow:0 0 16px 0 #20a0ff inset;">
            <div class="text-center">
                <h2 class="text-left">&nbsp;&nbsp;<i class="fa fa-line-chart" style="font-size:1.5em"></i>&nbsp;当班生产情况</h2>
                <div id="main" style="float: left; width:100%; height: 185px;">
                </div>
            </div>
        </div>*@
    </div>
</body>
</html>
@Html.AppendJsFile("/Areas/LR_ReportModule/Views/ReportTemplate/layui/jquery.min.js")
@Html.AppendJsFile("/Areas/LR_ReportModule/Views/ReportTemplate/layui/layui.js")
@Html.AppendJsFile("/Areas/LR_ReportModule/Views/ReportTemplate/bootstrap/dist/js/bootstrap.js")
@Html.AppendJsFile("/Areas/LR_ReportModule/Views/ReportTemplate/layui/radialindicator.js")
@Html.AppendJsFile("/Areas/LR_ReportModule/Views/ReportTemplate/layui/echarts/echarts.common.min.js")


<script>
    window.onload = function () {
        $('#indicatorContainer').radialIndicator({
            barColor: '#00FF00',
            barWidth: 3,
            initValue: 46,
            roundCorner: true,
            percentage: true,
            radius: 20
        }); $('#indicatorContainer1').radialIndicator({
            barColor: '#00FF00',
            barWidth: 3,
            initValue: 35,
            roundCorner: true,
            percentage: true,
            radius: 20
        }); $('#indicatorContainer2').radialIndicator({
            barColor: '#00FF00',
            barWidth: 3,
            initValue: 46,
            roundCorner: true,
            percentage: true,
            radius: 20
        }); $('#indicatorContainer3').radialIndicator({
            barColor: '#00FF00',
            barWidth: 3,
            initValue: 39,
            roundCorner: true,
            percentage: true,
            radius: 20
        }); $('#indicatorContainer4').radialIndicator({
            barColor: '#00FF00',
            barWidth: 3,
            initValue: 48,
            roundCorner: true,
            percentage: true,
            radius: 20
        }); $('#indicatorContainer5').radialIndicator({
            barColor: '#00FF00',
            barWidth: 3,
            initValue: 41,
            roundCorner: true,
            percentage: true,
            radius: 20
        }); $('#indicatorContainer6').radialIndicator({
            barColor: '#00FF00',
            barWidth: 3,
            initValue: 40,
            roundCorner: true,
            percentage: true,
            radius: 20
        }); $('#indicatorContainer7').radialIndicator({
            barColor: '#FF0088',
            barWidth: 3,
            initValue: 45.5,
            roundCorner: true,
            percentage: true,
            radius: 20
        }); $('#indicatorContainer8').radialIndicator({
            barColor: '#FF0088',
            barWidth: 3,
            initValue: 35,
            roundCorner: true,
            percentage: true,
            radius: 20
        }); $('#indicatorContainer9').radialIndicator({
            barColor: '#FF0088',
            barWidth: 3,
            initValue: 45,
            roundCorner: true,
            percentage: true,
            radius: 20
        }); $('#indicatorContainer10').radialIndicator({
            barColor: '#FF0088',
            barWidth: 3,
            initValue: 38,
            roundCorner: true,
            percentage: true,
            radius: 20
        }); $('#indicatorContainer11').radialIndicator({
            barColor: '#FF0088',
            barWidth: 3,
            initValue: 47,
            roundCorner: true,
            percentage: true,
            radius: 20
        }); $('#indicatorContainer12').radialIndicator({
            barColor: '#FF0088',
            barWidth: 3,
            initValue: 41,
            roundCorner: true,
            percentage: true,
            radius: 20
        }); $('#indicatorContainer13').radialIndicator({
            barColor: '#FF0088',
            barWidth: 3,
            initValue: 39,
            roundCorner: true,
            percentage: true,
            radius: 20
        });
        //定义数组
        var list = new Array();
        $.ajax({
            //data: {
            //    machine_id: machine_id,
            //    start_date: startTime,
            //    end_date: endTime
            //},
            url:'AllInfo',
            type: 'post',
            dataType: 'json',
            success: function (data) {
               // alert(data.length);
                $.each(data, function (vi, item) {
                   // alert(item.prod_num);
                    list.push(item.prod_num);
                    //alert(list.length);
                });
                //alert(list.length);
                //var myChart = echarts.init(document.getElementById('main'));
                var option = {
                    title: {
                        text: "CY716-CNC3",
                        x: "right",
                        textStyle: {
                            fontSize: 10,//字体大小
                            color: 'rgb(0, 176, 255)'//字体颜色
                        }
                    },
                    tooltip: {
                        trigger: "item",
                        formatter: "{a} <br/>{b} : {c}"
                    },
                    legend: {
                        x: 'left',
                        data: ["当前生产", "计划生产"],
                        textStyle: {
                            fontSize: 10,//字体大小
                            color: 'rgb(0, 176, 255)'//字体颜色
                        },
                    },
                    xAxis: [
                        {
                            type: "category",
                            name: "x",
                            splitLine: { show: false },
                            data: ["9", "10", "11", "12", "13", "14", "15", "16",'17'],
                            'axisLabel': {
                                'interval': 0,
                                color: function (value) {
                                    return 'rgb(0, 176, 255)';
                                }
                            },
                        }
                    ],
                    yAxis: [
                        {
                            type: "log",
                            name: "y",
                            'axisLabel': {
                                'interval': 0,
                                color: function (value) {
                                    return 'rgb(0, 176, 255)';
                                },
                                fontSize: 10//字体大小
                            },
                        }
                    ],
                    toolbox: {
                        show: true,
                        feature: {
                            mark: {
                                show: true
                            },
                            dataView: {
                                show: false,
                                readOnly: true
                            },
                            restore: {
                                show: false
                            },
                            saveAsImage: {
                                show: false
                            }
                        }
                    },
                    calculable: true,
                    series: [
                        {
                            name: "计划生产",
                            type: "line",
                            data: [1, 10, 20, 30, 40, 50, 60, 70, 80]

                        },
                        {
                            name: "当前生产",
                            type: "line",
                            data: list

                        }
                    ]
                };

                //myChart.setOption(option);
            }

        });
       
    };
</script>
