@{
    ViewBag.Title = "UsedTime";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div style="padding-top:20px;">
    <div class="lr-layout-tool-item">
        <div id="datesearch"></div>
    </div>
    <div class="lr-layout-tool-item" style="float:left;">
        <select id="aLine" type="text" class="form-control" placeholder="请输入设备组名称" style="height:28px;font-size:9px;padding-top:2px">
            @foreach (SiteJnrs.Models.DeviceLineNum dln in ViewData["ListDeviceLineNum"] as List
            <SiteJnrs.Models.DeviceLineNum>
        )
            {
                <option value="@dln.group_id">@dln.group_name</option>
            }
        </select>
    </div>
    <div class="lr-layout-tool-item" style="float:left;">
        <select id="MachineName" type="text" class="form-control" placeholder="请输入设备名称" style="height:28px;font-size:9px;padding-top:2px"></select>
    </div>
    <div class="lr-layout-tool-item">
        <a id="btn_Search" class="btn btn-primary btn-sm" style="border-radius:3px;"><i class="fa fa-search"></i>&nbsp;<span class="lrlt">查询</span></a>
    </div>
</div>
<!--main-container-part-->
<div id="content" style="width:100%;height:100%;overflow:auto;">
    <!--Begin-form-->
    <form class="form-horizontal" style="padding: 5px 2px 0px; border: 1px solid rgb(238, 238, 238);display:none">
        <div class="row-fluid">
            <div class="span" style="width: 45% !important;">
                <div class="control-group-query">
                    <label class="control-label-query">设备组</label>
                    <div class="controls">
                        <select class="query_select" id="aLine">
                            @foreach (SiteJnrs.Models.DeviceLineNum dln in ViewData["ListDeviceLineNum"] as List
                        <SiteJnrs.Models.DeviceLineNum>
                            )
                            {
                                <option value="@dln.group_id">@dln.group_name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="span" style="width: 45% !important;">
                <div class="control-group-query">
                    <label class="control-label-query">设备号</label>
                    <div class="controls">
                        <select class="query_select" id="aDevice"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span" style="width: 45% !important;">
                <div class="control-group-query">
                    <label class="control-label-query">开始日期</label>
                    <div class="BZcontrols">
                        <div data-date="" class="input-append date datepicker">
                            <input type="text" id="startDate" name="startDate" value="" data-date-format="yyyy-mm-dd">
                            <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span" style="width: 45% !important;">
                <div class="control-group-query">
                    <label class="control-label-query">结束日期</label>
                    <div class="BZcontrols">
                        <div data-date="" class="input-append date datepicker">
                            <input type="text" id="endDate" name="endDate" readonly="No" value="" data-date-format="yyyy-mm-dd">
                            <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn btn-success" style="margin-left: -40px;" id="btn_query">执行查询<i class="icon-search"></i></div>
        </div>
        
    </form>
    <!--End form-->
    <!--Chart-box-->
    <div class="row-fluid">
        <div class="widget-box">
            <div class="widget-title bg_lg">
                <span class="icon"><i class="icon-bar-chart" style="color:blue"></i></span>
                <h5>状态时序图</h5>
                <div id="tip_note" class="tip-note"></div>
            </div>
            <div class="widget-content">
                <div class="row-fluid">
                    <div class="span2">
                        <div id="wtimeline">
                            <ul id="wdates">
                                @{ string str1 = Convert.ToString("周"); string str2 = Convert.ToString("日一二三四五六"); DateTime dtime = SiteJnrs.Models.ShiftInfo.ShiftToDay;
                                    <li id="@dtime.ToString(" yyyy-MM-dd")"><a href="#">@str1@str2.Substring(Convert.ToInt32(dtime.DayOfWeek), 1) @dtime.ToString("yyyy-MM-dd")</a></li>
                                    <li id="@dtime.AddDays(-1).ToString(" yyyy-MM-dd")"><a href="#">@str1@str2.Substring(Convert.ToInt32(dtime.AddDays(-1).DayOfWeek), 1) @dtime.AddDays(-1).ToString("yyyy-MM-dd")</a></li>
                                    <li id="@dtime.AddDays(-2).ToString(" yyyy-MM-dd")"><a href="#">@str1@str2.Substring(Convert.ToInt32(dtime.AddDays(-2).DayOfWeek), 1) @dtime.AddDays(-2).ToString("yyyy-MM-dd")</a></li>
                                    <li id="@dtime.AddDays(-3).ToString(" yyyy-MM-dd")"><a href="#">@str1@str2.Substring(Convert.ToInt32(dtime.AddDays(-3).DayOfWeek), 1) @dtime.AddDays(-3).ToString("yyyy-MM-dd")</a></li>
                                    <li id="@dtime.AddDays(-4).ToString(" yyyy-MM-dd")"><a href="#">@str1@str2.Substring(Convert.ToInt32(dtime.AddDays(-4).DayOfWeek), 1) @dtime.AddDays(-4).ToString("yyyy-MM-dd")</a></li>
                                    <li id="@dtime.AddDays(-5).ToString(" yyyy-MM-dd")"><a href="#">@str1@str2.Substring(Convert.ToInt32(dtime.AddDays(-5).DayOfWeek), 1) @dtime.AddDays(-5).ToString("yyyy-MM-dd")</a></li>
                                    <li id="@dtime.AddDays(-6).ToString(" yyyy-MM-dd")"><a href="#">@str1@str2.Substring(Convert.ToInt32(dtime.AddDays(-6).DayOfWeek), 1) @dtime.AddDays(-6).ToString("yyyy-MM-dd")</a></li>
                                }
                            </ul>
                            <ul id="wissues">
                                @{
                                    <li id="@str1@str2.Substring(Convert.ToInt32(dtime.DayOfWeek),1) @dtime.ToString(" yyyy-MM-dd")"></li>
                                    <li id="@str1@str2.Substring(Convert.ToInt32(dtime.AddDays(-1).DayOfWeek),1) @dtime.AddDays(-1).ToString(" yyyy-MM-dd")"></li>
                                    <li id="@str1@str2.Substring(Convert.ToInt32(dtime.AddDays(-2).DayOfWeek),1) @dtime.AddDays(-2).ToString(" yyyy-MM-dd")"></li>
                                    <li id="@str1@str2.Substring(Convert.ToInt32(dtime.AddDays(-3).DayOfWeek),1) @dtime.AddDays(-3).ToString(" yyyy-MM-dd")"></li>
                                    <li id="@str1@str2.Substring(Convert.ToInt32(dtime.AddDays(-4).DayOfWeek),1) @dtime.AddDays(-4).ToString(" yyyy-MM-dd")"></li>
                                    <li id="@str1@str2.Substring(Convert.ToInt32(dtime.AddDays(-5).DayOfWeek),1) @dtime.AddDays(-5).ToString(" yyyy-MM-dd")"></li>
                                    <li id="@str1@str2.Substring(Convert.ToInt32(dtime.AddDays(-6).DayOfWeek),1) @dtime.AddDays(-6).ToString(" yyyy-MM-dd")"></li>
                                }
                            </ul>
                        </div>
                        <a href="#" id="wnext"><span class="icon" style="padding:3px;padding-right:2px;border:2px solid black;background-color:#F0F8FF">前一天</span></a> <!-- optional -->
                        <a href="#" id="wprev"><span class="icon" style="padding:3px;padding-right:2px;border:2px solid black;background-color:#F0F8FF">后一天</span></a> <!-- optional -->
                    </div>
                    <div class="span8" style="margin-left:15px">
                        <div style="margin-left:-14%;margin-top:-20px;margin-bottom:-1%;color:black"><h5>选择日期</h5></div>
                        <ul class="unstyled" id="ul_used_time">
                            @*@foreach (SiteJnrs.Models.UsedTimeSeque uts in ViewData["ListUsedTime"] as List
                                <SiteJnrs.Models.UsedTimeSeque>
                                    )
                                    {
                                    if (uts.litime_seq.Count > 0)
                                    {
                                    <li>
                                        <span class="icon24 icomoon-icon-arrow-up-2 green"></span>设备组：@uts.group_name<span class="pull-right strong">@ViewBag.DurLength</span>
                                        <div class="progress progress-striped ">
                                            @foreach (SiteJnrs.Models.TimeSeque ts in uts.litime_seq)
                                            {
                                            <div style="width: @ts.dur_rate%" class="@ts.run_class"></div>
                                            }
                                        </div>
                                    </li>
                                    }
                                    }*@
                        </ul>
                        <div id="timeline">
                            <ul id="dates">
                                <li><a href="#">0:00</a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#">2:00</a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#">4:00</a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#">6:00</a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#">8:00</a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#">10:00</a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#">12:00</a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#">14:00</a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#">16:00</a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#">18:00</a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#">20:00</a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#">22:00</a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#">24:00</a></li>
                            </ul>
                        </div>
                        @*<div style="float:left;margin-left:22.5%;margin-top:-1%;margin-bottom:-30px;color:black">
                            <span class="icon" style="padding:3px;padding-right:2px;border:1px solid black;background-color:#F0F8FF">午餐</span>
                        </div>
                        <div style="float:left;margin-left:41.5%;margin-top:-1%;margin-bottom:-30px;color:black">
                            <span class="icon" style="padding:3px;padding-right:2px;border:1px solid black;background-color:#F0F8FF">交接班</span>
                        </div>
                        <div style="float:left;margin-left:65%;margin-top:-1%;margin-bottom:-30px;color:black">
                            <span class="icon" style="padding:3px;padding-right:2px;border:1px solid black;background-color:#F0F8FF">交接班</span>
                        </div>*@
                        <div style="float:right;margin-right:-5%;margin-top:-5.8%;margin-bottom:-30px;color:black"><h6>时间</h6></div>
                        <div class="text-center" style="margin-top:30px">
                            <a href="#" class="btn btn-time"><div class="text-time text-time-green"></div></a><span><b>运行</b></span>
                            <a href="#" class="btn btn-time"><div class="text-time text-time-red"></div></a><span><b>报警</b></span>
                            <a href="#" class="btn btn-time"><div class="text-time text-time-orange"></div></a><span><b>调试</b></span>
                            <a href="#" class="btn btn-time"><div class="text-time text-time-blue"></div></a><span><b>空闲</b></span>
                            <a href="#" class="btn btn-time"><div class="text-time text-time-black"></div></a><span><b>关机</b></span>
                        </div>
                    </div>
                    <div class="span2" style="margin-left:0px;display:none">
                        <ul class="sim-site-stats xe-icon" id="max_dur">
                            @{int hour1 = 0;
                                int min1 = 0;
                                if (ViewBag.TotDurSeque.run_duration != null && ViewBag.TotDurSeque.run_duration > 0)
                                {
                                    hour1 = Convert.ToInt32(Math.Floor(ViewBag.TotDurSeque.run_duration / 3600));
                                    min1 = Convert.ToInt32(Math.Ceiling((ViewBag.TotDurSeque.run_duration % 3600) / 60));
                                }
                                int hour2 = 0;
                                int min2 = 0;
                                if (ViewBag.TotDurSeque.alarm_duration != null && ViewBag.TotDurSeque.alarm_duration > 0)
                                {
                                    hour2 = Convert.ToInt32(Math.Floor(ViewBag.TotDurSeque.alarm_duration / 3600));
                                    min2 = Convert.ToInt32(Math.Ceiling((ViewBag.TotDurSeque.alarm_duration % 3600) / 60));
                                }
                                int hour3 = 0;
                                int min3 = 0;
                                if (ViewBag.TotDurSeque.pause_duration != null && ViewBag.TotDurSeque.pause_duration > 0)
                                {
                                    hour3 = Convert.ToInt32(Math.Floor(ViewBag.TotDurSeque.pause_duration / 3600));
                                    min3 = Convert.ToInt32(Math.Ceiling((ViewBag.TotDurSeque.pause_duration % 3600) / 60));
                                }
                                int hour4 = 0;
                                int min4 = 0;
                                if (ViewBag.TotDurSeque.pause_duration != null && ViewBag.TotDurSeque.pause_duration > 0)
                                {
                                    hour4 = Convert.ToInt32(Math.Floor(ViewBag.TotDurSeque.stop_duration / 3600));
                                    min4 = Convert.ToInt32(Math.Ceiling((ViewBag.TotDurSeque.stop_duration % 3600) / 60));
                                }
                                <li class="bg_sh" style="padding-bottom:0px">
                                    <i class="icon-star" style="color:yellowgreen"></i>
                                    <div class="progress-time progress-time-run">
                                        <div style="width:100%" class="bar">
                                            <strong style="color:whitesmoke;padding-top:5px">@(hour1 + "小时" + min1 + "分钟")</strong>
                                            <small style="color:whitesmoke">合计运行时长</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="bg_sh" style="padding-bottom:0px">
                                    <i class="icon-bullhorn" style="color:yellowgreen"></i>
                                    <div class="progress-time progress-time-alarm">
                                        <div style="width:100%" class="bar">
                                            <strong style="color:whitesmoke;padding-top:5px">@(hour2 + "小时" + min2 + "分钟")</strong>
                                            <small style="color:whitesmoke">合计报警时长</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="bg_sh" style="padding-bottom:0px">
                                    <i class="icon-asterisk" style="color:yellowgreen"></i>
                                    <div class="progress-time progress-time-pause">
                                        <div style="width:100%" class="bar">
                                            <strong style="color:whitesmoke;padding-top:5px">@(hour3 + "小时" + min3 + "分钟")</strong>
                                            <small style="color:whitesmoke">合计暂停时长</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="bg_sh" style="padding-bottom:0px">
                                    <i class="icon-certificate" style="color:yellowgreen"></i>
                                    <div class="progress-time progress-time-stop">
                                        <div style="width:100%" class="bar">
                                            <strong style="color:whitesmoke;padding-top:5px">@(hour4 + "小时" + min4 + "分钟")</strong>
                                            <small style="color:whitesmoke">合计停机时长</small>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End-Chart-box-->
</div>
<!--end-main-container-part-->
@Html.AppendJsFile("/Areas/LR_ReportModule/Views/ReportTemplate/Scripts/jquery-1.11.1.min.js")
@Html.AppendJsFile("/Areas/LR_ReportModule/Views/ReportTemplate/Scripts/jquery.unobtrusive-ajax.min.js")
@Html.AppendJsFile("/Areas/LR_ReportModule/Views/ReportTemplate/Scripts/jquery-ui-1.12.0.js")
@Html.AppendJsFile("/Areas/LR_ReportModule/Views/ReportTemplate/Scripts/jquery-ui.min.js")
@Html.AppendJsFile("/Areas/LR_ReportModule/Views/ReportTemplate/Scripts/SiteScripts/jquery.flot.min.js")
@Html.AppendJsFile("/Areas/LR_ReportModule/Views/ReportTemplate/Scripts/SiteScripts/jquery.flot.pie.min.js")
@Html.AppendJsFile("/Areas/LR_ReportModule/Views/ReportTemplate/Scripts/SiteScripts/jquery.flot.resize.min.js")
@Html.AppendJsFile("/Areas/LR_ReportModule/Views/ReportTemplate/Scripts/SiteScripts/jquery.flot.barnumbers.js")
@Html.AppendJsFile("/Areas/LR_ReportModule/Views/ReportTemplate/Scripts/SiteScripts/jquery.flot.stack.js")
@Html.AppendJsFile("/Areas/LR_ReportModule/Views/ReportTemplate/Scripts/SiteScripts/jquery.gritter.min.js")
@Html.AppendJsFile("/Areas/LR_ReportModule/Views/ReportTemplate/Scripts/SiteScripts/jquery.peity.min.js")
@Html.AppendJsFile("/Areas/LR_ReportModule/Views/ReportTemplate/Scripts/SiteScripts/bootstrap.min.js")
@Html.AppendJsFile("/Areas/LR_ReportModule/Views/ReportTemplate/Scripts/SiteScripts/bootstrap-table.js")
@Html.AppendJsFile("/Areas/LR_ReportModule/Views/ReportTemplate/Scripts/SiteScripts/locales/bootstrap-table.zh-CN.js")
@Html.AppendJsFile("/Areas/LR_ReportModule/Views/ReportTemplate/Scripts/SiteScripts/bootstrap-datepicker.js")
@Html.AppendJsFile("/Areas/LR_ReportModule/Views/ReportTemplate/Scripts/SiteScripts/locales/bootstrap-datepicker.zh-CN.js")
@Html.AppendJsFile("/Areas/LR_ReportModule/Views/ReportTemplate/Scripts/jquery.validate.js")
@Html.AppendJsFile("/Areas/LR_ReportModule/Views/ReportTemplate/Scripts/SiteScripts/matrix.main.js")
@Html.AppendJsFile("/Areas/LR_ReportModule/Views/ReportTemplate/Scripts/SiteScripts/select2.min.js")
@Html.AppendJsFile("/Areas/LR_ReportModule/Views/ReportTemplate/Scripts/SiteScripts/matrix.condition.js")
@Html.AppendJsFile("/Views/LR_Content/plugin/date/lr-datepicker.js")
<script type="text/javascript">
    var dt = new Date('@SiteJnrs.Models.ShiftInfo.ShiftToDay');
    var dts = new Date('@SiteJnrs.Models.ShiftInfo.ShiftToDay');
    dts.setDate(dt.getDate() - 6);
    $('#startDate').datepicker("setDate", dts);
    $('#endDate').datepicker("setDate", dt);
</script>
@Html.AppendJsFile("/Areas/LR_ReportModule/Views/ReportTemplate/jquery.timelinr-0.9.6-w.js")
@Html.AppendJsFile("/Areas/LR_ReportModule/Views/ReportTemplate/jquery.timelinr-0.9.6.js")
@Html.AppendJsFile("/Areas/LR_ReportModule/Views/ReportTemplate/matrix.timechart.js")
@Html.AppendCssFile("/Areas/LR_ReportModule/Views/ReportTemplate/Content/bootstrap.css")
@Html.AppendCssFile("/Areas/LR_ReportModule/Views/ReportTemplate/Content/bootstrap.min.css")
@Html.AppendCssFile("/Areas/LR_ReportModule/Views/ReportTemplate/Content/SiteJnrs.css")
@Html.AppendCssFile("/Areas/LR_ReportModule/Views/ReportTemplate/Content/bootstrap-responsive.min.css")
@Html.AppendCssFile("/Areas/LR_ReportModule/Views/ReportTemplate/Content/jquery.gritter.css")
@Html.AppendCssFile("/Areas/LR_ReportModule/Views/ReportTemplate/Content/subpage.css")
@Html.AppendCssFile("/Areas/LR_ReportModule/Views/ReportTemplate/Content/fullcalendar.css")
@Html.AppendCssFile("/Areas/LR_ReportModule/Views/ReportTemplate/Content/themes/base/jquery-ui.css")
@Html.AppendCssFile("/Views/LR_Content/plugin/date/lr-datepicker.css")